.regPage {
  background: #fff;
  width: 100%;
  height: 100vh;
}
.regLogo {
  padding: 40px 0;
}
.am-list-item.am-input-item {
  padding: 0;
}
.am-list-line {
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
  padding-left: 15px;
}
.am-input-control {
  color: #292525;
}
.my-radio .am-radio {
  padding: 1px;
  border: 1px solid #d71a1b;
  border-radius: 50%;
  margin-right: 10px;
  transition: 0.2s;
}
.am-radio-checked {
  background: #d71a1b;
}

/* 单选框内部图标样式 */
.am-radio-inner {
  width: 14px;
  height: 14px;
}
.am-radio.am-radio-checked .am-radio-inner::after {
  border-color: #fff;
}

.my-radio span {
  color: #8e8787;
  transition: 0.2s;
}
.my-radio span a {
  color: #d71a1b;
}
.btn {
  background: #f5f5f5;
  vertical-align: middle;
  border-radius: 24px;
  border: none;
}
.regBtn span {
  color: #292525;
}
.logBtn {
  margin-left: 20px;
}
.logBtn span {
  color: #fd281a;
}

#vcode_svg {
  height: 44px;
  display: block;
  text-align: right;
}
#vcode_svg svg {
  display: inline-block;
  height: 100%;
}
