.site-layout-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
.ant-breadcrumb-link{
    font-size: 18px;
    color: #333;
}
.logoBox{
    display: inline-block;
    height: 100%;
    width: 170px;
    background: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1592746687944&di=054db4fafcda030af46031a0b73bf007&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2Fb%2F54250bb84b6c8_270_185.jpg") no-repeat left;
    background-size: auto 80%;
}
.logotitle{
    display: inline-block;
    height: 100%;
    font-size: 24px;
    color: white;
    vertical-align: top;
}