.homeNavBar {
  background-color: #292525;
}
.am-button-primary {
  background-color: #292525;
}
.am-button-primary:before {
  border: none !important;
}
.homeLogin {
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  padding: 5px 12px;
  border-radius: 24px;
}
