.homeswiper-wrapper {
  width: 300px;
  text-align: center;
}
.homeswiper-slide {
  width: auto !important;
}
.swiperItem {
  width: 150px;
  padding: 0 10px;
  display: block;
}
.swiperItem img {
  height: 82px;
  border-radius: 10px;
  display: block;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
