.my-drawer {
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.am-drawer-open {
  height: 100vh;
}
.am-drawer-open.am-drawer.am-drawer-top .am-drawer-sidebar {
  box-shadow: none;
}
.my-drawer .am-drawer-sidebar .am-list {
  width: 300px;
  padding: 0;
}
.searchZone {
  background: #fff;
  padding: 10px 0;
}
.seachBar {
  border: 1px solid rgb(136, 136, 136);
  background: #fff;
  padding: 10px;
}
.seachBar input[type="search"] {
  background: #efeff4;
}
.am-search-input {
  height: 30px;
  line-height: 30px;
}
