@import '~antd/dist/antd.css';

.lisa{
    height: 90%;

    background: url("https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3473310346,3168370629&fm=26&gp=0.jpg") ;
    background-size: auto 100%;;
}