.header{
    .logo{
        width: 100px;
        margin-left: 50px;
        float: left;
        img{
            width: 50px;
            height: 50px;
        }
    }
    .menu-right{
        width: 200px;
        margin-right: 50px;
        float: right;
    }
}